@charset "utf-8";

/**
 * Stylesheet Index:
 * =================
 *
 * 0. Elements
 * 1. ID & Class
 * 2. Pseudoclass
 * 3. Media Queries
 */

/* 0. Elements */
section {
  height:             auto;
}

/* 1. ID & Class */
#infosearch {
  padding:            2rem 0;
  text-align:         center;
  font-size:          2rem;
  background-color:   #ccc;
  border-bottom:      1px solid #999;
}

/* 2. Pseudoclass */

/* 3. Media Queries */
