@charset "utf-8";

/**
 * Stylesheet Index:
 * =================
 *
 * 0. Elements
 * 1. ID & Class
 * 2. Pseudoclass
 * 3. Media Queries
 */

/* 0. Elements */
* {
  -moz-box-sizing:    border-box;
  box-sizing:         border-box;
}
html { font-size: 16px; }
body {
  width:              100%;
  margin:             0;
  padding:            0;
  background:         #ddd;
  min-width:          320px;
  font-family:        "Open Sans Condensed", Sans-serif;
  -webkit-transform:  translateZ(0);
  transform:          translateZ(0);
}
a {
  outline:            0;
  text-decoration:    none;
}
hr {
  border:             1px solid;
  border-color:       #aaa transparent #fff;
}

body > * {
  padding:            4px calc((100% - 800px)/2);
}

dt {
	margin-top:         1rem;
	font-weight:        bold;
}

nav {
  height:             4rem;
  margin:             0 auto;
  background-color:   #1abc9c;
  border:             solid #16a085;
  border-width:       0 0 2px;

}
nav aside {
  float:              right;
  line-height:        3.6rem;
}
nav h1 {
  line-height:        1rem;
}
nav h1 a {
  color:              #ecf0f1;
}

section {
  height:             calc(100vh - 4rem);
}

dl, ol, ul {
	font-size:          1.2rem;
}


/* 1. ID & Class */
.portal {
  color:              #ecf0f1;
  padding:            4px 1rem;
  font-size:          1.25rem;
}
#branding {
  text-align:         center;
}
.logo {
  display:            block;
  width:              16rem;
  height:             16rem;
  margin:             4rem auto 2rem;
  border:             16px solid rgba(255, 255, 255, 0.75);
  border-radius:      50%;
  background-color:   #95a5a6;
  box-shadow:         0 0 10px #999;
}
.punchline {
  font-size:          1.5rem;
  text-transform:     uppercase;
}
#about h2 {
	margin: 						8rem auto 0;
	text-align:         center;
	font-weight: 				normal;
}

/* 2. Pseudoclass */
.portal:hover, nav h1 a:hover {
  color:              #066;
}

/* 2. Media Queries */
