@charset "utf-8";

/**
 * Stylesheet Index:
 * =================
 *
 * 0. Elements
 * 1. ID & Class
 * 2. Pseudoclass
 * 3. Media Queries
 */

/* 0. Elements */
* {
  -moz-box-sizing:    border-box;
  box-sizing:         border-box;
}
html { font-size: 16px; }
body {
  width:              100%;
  margin:             0;
  padding:            0;
  background:         #ddd;
  min-width:          320px;
  font-family:        "Open Sans Condensed", Sans-serif;
  -webkit-transform:  translateZ(0);
  transform:          translateZ(0);
}
a {
  outline:            0;
  text-decoration:    none;
}
hr {
  border:             1px solid;
  border-color:       #aaa transparent #fff;
}

body > * {
  padding:            4px calc((100% - 800px)/2);
}

dt {
	margin-top:         1rem;
	font-weight:        bold;
}
h1 { font-size: 3rem; }
h2 { font-size: 2.25rem; }
h3 { font-size: 2rem; }

nav {
  height:             6rem;
  margin:             0 auto;
  background-color:   #1abc9c;
  border:             solid #16a085;
  border-width:       0 0 3px;

}
nav aside {
  float:              right;
  line-height:        3.6rem;
}
nav h1 {
  line-height:        1rem;
  text-align:         center;
}
nav h1 a {
  color:              #ecf0f1;
}

section {
  height:             calc(100vh - 6rem);
  text-align:         center;
  font-size:          2rem;
}

dl, ol, ul {
	font-size:          1.2rem;
}

/* 1. ID & Class */
#ask { display: none; }
.portal {
  color:              #ecf0f1;
  padding:            4px 1rem;
  font-size:          1.25rem;
}
.choices {
  display:            inline-block;
  padding:            0.5rem 1rem;
  margin:             0.5rem;
  color:              #fff;
  background-color:   #e98b39;
  border-bottom:      4px solid #d35400;
  -webkit-transition: all 300ms ease;
  transition:         all 300ms ease;
}

/* 2. Pseudoclass */
#title a:hover {
  text-shadow:        0 0 2px #222, 0 0 4px #fff;
}
.choices:hover {
  background-color:   #466077;
  border-bottom:      4px solid #2c3e50;
}

/* 3. Media Queries */
